.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6f61;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .search-bar {
    padding: 6px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-icon,
  .fa-cart-arrow-down {
    font-size: 30px;
    color: #333;
    cursor: pointer;
  }
  .logo-link {
    text-decoration: none;
  }